# goes to /etc/systemd/system/
[Unit]
Description=Gunicorn SSL Inspector Service (venv)
After=network.target

[Service]
User=<username>
Group=<group>
# Pfad zu deinem Projektordner (bitte anpassen!)
WorkingDirectory=/home/<username>/PythonWorkspace/SSL-Check

# Hier definieren wir den Pfad zum venv/bin
# Das sorgt dafür, dass Gunicorn die Bibliotheken aus dem venv findet
Environment="PATH=/home/<username>/py3venv/bin"

# Wir rufen Gunicorn direkt über den absoluten Pfad im venv auf
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ssl-checker
ExecStartPre=/usr/bin/chown -R <username>:<group> /var/log/ssl-checker

ExecStart=/home/b12425/py3venv/bin/gunicorn \
    --workers 3 \
    --bind 0.0.0.0:5000 \
    --certfile /etc/mycert/fullchain.pem \
    --keyfile /etc/mycert/server.key \
    --access-logfile /var/log/ssl-checker/ssl-inspector-access.log \
    --error-logfile /var/log/ssl-checker/ssl-inspector-error.log \
    --access-logformat '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"' \
    ssl-check-web:app

[Install]
WantedBy=multi-user.target


